.w3-sidebar a {
    font-family: "Roboto", sans-serif
}

body,h1,h2,h3,h4,h5,h6,.w3-wide {
    font-family: "Montserrat", sans-serif;
}
.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }


.shell { width: 980px; margin: 0 auto; }
.border { border: 1px solid #e8e8e8; background: #fff; position: relative; }





#main { width: 932px; padding: 37px 24px 17px 24px; }
#main h3 { font-size: 12px; line-height: 15px; color: #000; text-transform: uppercase; border-bottom: 1px solid #dbdbdb; padding: 0 0 9px 0; }
#main a.more:hover { text-decoration: none; }

#content { width: 905px; }

.highlight h3 { margin: 0 0 9px 0; }
.highlight p { padding: 0 0 11px 0; }
.highlight img { margin: 4px 12px 0 12px; }

.projects { padding: 10px 0 0 0; }
.projects h3 { margin: 0 0 17px 0; }
.projects .item { margin: 0 0 28px 0; }
.projects .image { width: 183px; height: 111px; border: 0px solid #dbdbdb; padding: 2px; margin: 0 20px 0 3px; }
.projects .text { width: 600px; }
.projects .text h4 { font-size: 12px; line-height: 15px; color: #333; text-transform: uppercase; padding: 3px 0 2px 0; }
.projects .text p { padding: 0 0 3px 0; }
.item{
    margin-top: 200px; /* Отступ сверху */
    margin-bottom: 200px; /* Отступ сверху */

}