{%load static%}
<html>
    <head>
        <title>Sign up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script  src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
            <h1 class="mb-6 text-3xl">Sign up</h1>

            <form method="post" action=".">
                {% csrf_token %}

                 {{ form.non_field_errors }}

                 <div class="mb-3">
                    <label class="inline-block mb-2">Username</label><br>
                    {{form.username}}
                 </div>

                 <div class="mb-3">
                    <label class="inline-block mb-2">Email</label><br>
                    {{form.email}}
                 </div>

                 <div class="mb-3">
                    <label class="inline-block mb-2">Password</label><br>
                    {{form.password1}}
                 </div>

                 <div class="mb-3">
                    <label class="inline-block mb-2">Repeat password</label><br>
                    {{form.password2}}
                 </div>

                 <button class="py-4 px-8 text-lg bx-teal-500 hover:bg-teal-700 rounded-xl text-white">
                    Submit
                 </button>
            </form>
        </div>
    </body>
</html>